.tropical{
  text-align: left;
  float: left;
  width:46%;
  padding:0px;
  margin:2%;
}
.popular{
  text-align: right;
  width:46%;
  float: right;
  padding:0px;
  margin:2%;

}
.title{
  text-align: center;
  font-style: italic;
}
.desc{
  text-align: center;
}
img{
  width: 35%;
  height: auto;
}
body{
  background-color: #4D141B;
}
.topnav{
  background-color: black;
  overflow: hidden;
}
.topnav a{
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover{
  background-color: #ddd;
  color: black;
}
.topnav a.active{
  background-color: #4CAF50;
  color: white;
}
.origin{
  clear: both;
  padding:0px;
}
.tropical img ,.popular img{
 width:100%;
 height:400px;
}
.tropical a,.popular a{
  margin-right:45%;
  margin-left:45%;
   text-align:center;
   font-size:24px;
   text-decoration: none;
   color:black;
}
